/node_modules
/public/hot
/public/storage
/public/OFXSchema
/storage/*.key
/vendor
/resources/views/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.sql
.php_cs.cache
